body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    text-align: center;
    background-color: #0056b3;
    color: white;
    padding: 10px 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin: 10px 0;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.input-group label {
    display: block;
    margin: 5px 0;
    flex: 1;
}

.input-group input {
    width: calc(50% - 20px);
    padding: 5px;
    margin: 5px 0;
    display: block;
    border: 1px solid #0056b3;
    border-radius: 3px;
}

button {
    display: block;
    width: 520px;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 20px 0;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

.result {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    color: #0056b3;
}
